
@font-face {
  font-family: 'Bamini';
  src: url('Bamini.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bamini';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAE/sAA4AAAAAe+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAC4A
AABOErH/t2NtYXAAAAF0AAABggAAA5xiTMatY3Z0IAAAAvgAAABkAAAAZBtiHotmcGdtAAADXAAA
AFgAAABkp9lek2dseWYAAAO0AABEigAAapRqXI5aaGRteAAASEAAAAObAAAGiCUsBQNoZWFkAABL
3AAAADIAAAA2uyUmqmhoZWEAAEwQAAAAIAAAACQXT/mbaG10eAAATDAAAAFbAAABlOrQEdlsb2Nh
AABNjAAAAMwAAADMv3vbwG1heHAAAE5YAAAAIAAAACAA9AK5bmFtZQAATngAAABsAAAAsXunduNw
b3N0AABO5AAAAJoAAADsCfkJYXByZXAAAE+AAAAAbAAAALPxm6gyeNpjYGBKZZzAwMqAAzBxszGz
MjMxMbFglXZgUPjAxHb6n/X/OLbTjEcBfIsHdgAAeNrVklszAkAYhp+tJOUQhSTZihzTwbFCCunk
VA4hKvwIv8OP8iuMMcaFCxfGH8hmjBkXOVx63tn9dr59v4uddwENgjpWtPWTsKul56Opqpa65yvq
Uqtr0jcbWoym1rb2DnNnl8Xa3dNr67P3Owacg9Ll9gwNe0dGx8YnJn1T/kAwND0zOze/EI5EF5eW
YyvxxOraenIjlc5kc5tb2zu7+cLe/sFh8ej4pHR6Vq5U+TXnPxk0DfqX34/pDEW1SyWdqjVREFVx
Ja41N5pbaZV26ZRu6ZUBGXG5a7W6U+RF5dNhkTbpkPLdEf5wfIdQ83fiXjx86lE8iWfx8q5X8arS
0dGEnmYMtGDERCtttNOBmU66sKgEu+mhFxt92OnHwQBOBtULXLjxMMQwXkYYZYxxJpjExxR+AgQJ
Mc0Ms8wxzwJhIkRZZIllYqwQJ8Eqa6yTZIMUaTJkybHJFtvssEueAnvsc8AhRY445oQSp5xRpsIf
4mzIxd+T/xc0+obaN9+yReUAAAOFBUkE1QSkAqoAAAO7BRcB9wC7AHD+gf/6/wgDpv62/j/+av5U
AzcBaQGI/t7/bP/VBCACAACWAE0BRQAaAL8BUwDFAe8CBAGCAWgAqQEAAJABJAA3AUsAdgDoAMEA
TwAWAGd42nNgZWVhZmLQKXNV2MCs6qqcmCGhnJHgoqsD50O4Cgo7/h+wENrowGhmAeJtcLAQ2sBo
BhLU1WHc4Fam4A7U6ZaYoRAB0qhssYFJFaQg1SJSFwAW+BtheNqlvQd8W0W6PjxzjnrvbcbqxbZs
SZYsyUW25W7HdpzEqXaK4zSn9x7SewFCgkNCh9BrYGGXdlkg1EtvS1na/bPLLgtbWNhliX30zTmS
bNkJe/f+PhTbko50zpl33vd52zMDoMBMAPjL+C8BGghBVRIJeRgI+BjyeYimhAIEAQUhDWQQNG0I
xk2gJlGTgMHEUIL9AaqhBPlXEnpIBPj+iNqh9pGfmXzVzAt38l/6qYw8++mvgAJ/Sn0DH+K9DRTA
A8qTJp1EqxEKsVyDtC6VEplpKyWXQTpzgRru9IngEDm76v0EDATI+b003+8JQF9pNYyEDXqdwOXU
CqXQ5SsNUL7SWDwWCRutUC/QQYlSTsuLC/MrK/zefVS+36C1KpQiqURfUW7hCymB3GE0WoOVBZ4K
XszD3Mecet7/4cIDzeaIJVCjKTCJNOR+u+iz1Gr+BIBBBViaDNk1vAKfQmYrDxaWBwvKgwqkUSIN
jTSFSmwIonKEJB5UXmqANlqxCWrS49hQkzCxohoKDqnYoSSgWlM+5h8IkP/IANkRVmr4fqiAQl81
jJN/pT6vS+j0RkvZoRmMZMhGgdAXGznkC8BoeuDcUSizNbg0hXGVUkWJJIJyV02epiqvyFD8VUW7
ZkqeQg3Zd+0upVyq1FRZ/cYintIdVzmNJdhYopaIeKISv9Nl1ZryO6a2tTqdgZgxrGLfNsutJq1N
S44UtE8lWtLG7BesoXeBOKgDTeCR5NxYVBUKKytlTofRDgB25WFaX40LZEYsriuLx9x8F25siNKl
TfUROoxDqmCRLlzirkSypsY6uhaVRjy02+VEcYedBggJdEjWUI9CwZKQEswSS6EsoxZEnglTWvOI
SING9gn5ZUxwWqJ6X/U+EbJx+L0a8mCPsBrESpr8pDWpWUbknNEinsMO1KWauFFB6VXAYXfHoqUu
pyAPutQuvU4BXewExOJqh95BflwOp0CvM0TCsSpIqyNqfp7GaTy0i5nJXMHczHRs7S4PdFXAeXAm
lEDcs9oeGniu7MT22+7dk6AY5hN4z6Shou71fYtOTvvxR7hcLLnswNC/4Aa49FdQ2VXr3/T4NuYV
5o4dj224Id/1IXzj8oYTK27Yv2KbDC7uYL7umDd9/OorZx+F85ivoQHwQHPqJ8F8egcoBw2gBUwG
zyQXTXLYC1UgpmttLY7oiiMObOvEoVassyQx34eNDRXlNMDNTWpa1dKopBVYZs3DdpssBvKQVSEH
NqulHdVHULFKSewdtTQ30PVuZKlCoqZGJJPKZYAfkkHRWBTIzAUR/FBmIrgJIZ9goSE7H+xBbj6G
MlYA0n8yuj9FROZkrMBZxc5auzCid0SricJ7yfQIiaGzAMB9NADHTgsxovRL8mnqi/ITO87es7uK
GmI+3eJepEfL6k7eFTDfzTwSDi9eUuQT+5pnjWueaM+T5FUwkhnr+hat20Sm516DOR+ZLQVkHhqv
IvOwcpuUmweFzFB885Xju20d2N/bM/laudi0fOamg2emdU0q4YvZSVq1PTNJTK+hOxBvm1Fe0EWs
ppHZKzhPHwDFoBI0gtXJuFAiNiZkAeyswyoao4RMio0ioSwfl5aUSyVILJLLUGOCwEq8BmkBsqoA
kkLrCESyck8MZYGYCDw4RAyE4CYr5CAnZsBiC5Fuk5Xv16pAJEywg4iVIHRpjBMrkbcC8lycDcSy
sOr1KaCWE2GcFaGv1As5URLB66+Cgn+cerxLwBQMwMZtN5x+79ynC8SbUuB5JsU8edNRVUXnqubi
8WK3+WmUH8hDHuile+/74dbuiZOhifmJ+fXyY6X0jsHXqc7WWz7+8Lk3aqfetxlOgqUfw0bPvIbu
RYlA32VwLa/e5g7RQZeI54sNzX/wg8fuHl9HMLmV2cs/QjQ+DKrBnmSD2yUTEIvNo7HGi60yTEcw
bcIFHreNtmKnBofEuDyWsOYhrwfTSI+KBShhtyGnQ4mAywlC0mGHlgbpXFzhpMnK0ZhIwzer0UYO
R9IYUkO8nbZUkysyDj9ARkHVLu5BIEPNarA1c1SbVVTysdYjSxPTZzdb20QqM2yDIqiBgiUTfWHF
qX92UG/+YG4OR3cvYJ5mbmTeZi7/0JLnNVodPljyW9gyu2vG7IinePsi5i/MfVDz/e7LHRZmKh0e
fJ3e0cF8ZLYmbjqaAsxdcDv1t3qnL1JR5A8Q+dXTd1Jz+ZNBHsGMvmSRQ8OTa7BCg2kNtgfKCgNl
BeS3AhsDqAwjsReV2Wk4K2JUwLKsybMe7d/7s4w5V5RxEBsnHos4NJ3REImHjZwZc8IidkscWeag
DY49Bu+217m10xBxZGLisqweLFVqq1BIV/xVVatqMlJqKImi0u7Kk6p0lTikDfL+5Ikq7cGoKaQV
C4nDMhfqrFq73pjf3jWhzUoOGCNq7oDJr8vTkQPe8V0AQNDFPEYVkqhEA3BSLOeJkJqmFMq0dYH0
RGvVmZEQB6GzUkahF6hVUFa1s1NzfE1EU35gvmE5cy/9p7aVxda1L/zr5vVPvf5CvS0Oz8BaGGev
UUKuISDX0LPXUAolSKuiBKOvYRCS0EbBI85do2ajmbgBqHUC+P9UJUuvqzOpDjxgqtk5x3AMhjUv
Vi55YEdQZlsMi2DV7tdefLjW2sEsZ95q2EoQppOpFNxFEKYKtIIusC/ZXBLy4+IiiKXVWGPCDRNw
fFwkjIMBIHNiKQ/n1zaXRgJ0MeoaV+SHfBAuIU7Xg4R61NyBKqxIEQdSFVSMRpyhjKWknWzaTLKw
k9YMchhww5qs4Psd+iyAXwpl9DoNL2LPYItQ74qOASfImQuHQjkYxDvu7Ar0bt3DfPQVc5qJX3mZ
rmrcqhZ/E99gvBtO/ANUfluXyCszDjDjT0LrhrP3/uGBrwejNn/QbvUU0MXv/PjQhs7J9SJJvLp2
bzf8bxh9BxbndTcsWBG1t86bP8C88O6uTpNJJOj5Io1U7Td+9t7zryepT6N53iAd97k9Q8vu/e2T
dxBMgoNPMnvBY2AVKADTk0VarMv34QIgc2GeEavysESnRXIIkLAgH/m8diS0IDlPIpFC+VgYT6Tj
aKAaSguUxSIiwkI53++KZmMVl9Md5WRj1BOnlwMlGeltVrT5e7qY33zxAfO74+1lc6yuVm+08aND
595xhe1W2UDE5JnbfdPxRTPHqdzauAEZXNHo7O1lUYtt852AD5qZT/kv8Y2gA3SDRWAt2AH+O7l4
S2NdKK+vzhLpnxbpXz1euW688jK6MjLN0j/N0hLTleGdk/FOL955Gd7Zg0ERdkRwv2Q8VtZiUFON
gWIDlhlWYN2C2XzfxEqxpxLR05BlKTL6kHfObNSWj7wOoc4AjaMEktEl8nhf9X4msGPDOe79dBSR
fdS8P4JCYExkzYIRp4k7jcSIWREKrVRG+VjsyQQQXipaqnFHwjyNnvZpSykiTh4rW2OMvGnkYg4/
dApdWcUl39ESRGCngEdOqGXDRStMz8Rw6EEO8w2swyVvEk2nPnnjc7Ro27rnH7tuda9BX377/GVP
TuyubjoEw38fgmiBZKJkDvPZB8xPS+sjm6H46KTxMs2eUzqDlDd+3q6Vs5c+PLHuXAFuV2xkmA3B
/omqQBm/vDSUqGcuD0fXzCo54pn9JPx40sHFNxYfmOk5R5/9/qmZfc7yQ8v7brD6xBKDc+XV/k1l
7ZB/5gzEjw0xd9/AfMmD9oNQ+ewd3667+Zd1VWVi3Fty+LxgZVvv8p0Tt5y58OfC9zZSvHBd9ewo
XV0XkZUlG5IVlUNL7XO93U0eU9G173jKVxZNXmhZ8SVBuUp4ED4K/0lQyJaUkuCRpIxARFP6kTgR
kHngsV6TRHaVcCuzD/5zJYuPq1Lfw0rwDJACY1IoRjQQC2QZdCTfkIn5/niO4N8rTCQK/RWVzySK
ChKJAn8VuWJV6hveL3jH2DMAF4glTSYZ1ggwoJHYgZAS6QFt1cigfjhwzSAZm11yqatbn1GPzEVy
nztynlMTwy3NkXBLC3NNpLklTJ7Qj2Se8I6RP81N5ODgpGb2jXBJS/YvIL5XkforHeDdTvJfKyhO
ag1YnocFFiTRIEpOC2RQMkr/uTsjN2aTkBtjr0+5nGyyR+INmtMo8poiKkpeUx9OMe8YvOuOxGMf
n1cbTYraU1c2Kiaf2k6/e9cHs08zJ7/9/PLfwh2D/JYX9qw+AwPMb84tepl5hMj9OXJbj/LOAgto
TlpNRqFAK4ZGIzaJBViokCMKQIuZJvHosGmmJzKT82fjS5ixMMRamFGtI3agd/hYtVcTvWeBSQmj
ngiloKL1AQZRoeYwXyC3KbGqHlZJeNdLLvylDslNFrWrnXbqkVLHF5oMt7J6EQGAbuDdDZxkRo1O
u0Uus2EXsmCHGKv5SK+mnQ5ZZjLTE0likuHbcTmJ2lTT0VIOJ0lGTXExmE5BCR3hOAk9hI7o2VfX
Vrr7ezes8rp9NyyvbN1wMLjg3Zvg0Sk2R6Fh7tAE3V1/uP6aluq5i/bNE7y0tiB44FDzoX1/uk2n
mSD5jtxfW+p76gLvfjYaTSK/3SgzlOCIBlso7FOiPD5yWWifDPovntfc+4z4iecfBnEl9GUynHQV
IJP5WDOJUTrdZ9+Ggo7yTet3PaUUmaij122d1DPTb87zPLF175WzG7ourzn/zZKkUSASmtWhhZFb
5057jqIMkZ1LZ82fXF0g2HPDiVldq4Peg0e6rnwi6FDLNEqxmGiohsi7juiDBMhBT9IvF8ukSAKA
RC6jaQqLRXyax0c8YtpQKhIiAWvgtJBorniseiTSIUA6QjgQUJznDfLPpwMdBbFmGFFH9C6axMZR
MXRQFZMe/QV1kFHAvzIz4F28s4Pfr2E+gt411IyhO4iU46k/0zTv16AEVCYthUgvMyjNQRy2mLFK
SW7LR+Sso3xZwEh7TiLgTCTKXjNcOCxit8vp8/pqoNbBJkJGIbFrB5Gu0UpnM0/yNutfIW9S4YKr
mKOrNTyBgOI9Adcik16saMQG5uHWjl770oMBde2rb0+4ghJJlIWWqoXxc5d9eh3F40lk8DqlXiy7
Wci/RqaTu/atnlLYe92v85vVWrHGTKRcRcZTwXucoEAQ1CaRVKczOyR5AQc2F2DKgwQBlCehKRkU
jNWbjMFljI6MKyQg4xJwWkFy/ggbTPOF1XRaz2lOh/SsOYariXuj3uu/qePQ43DWd/sFSyd5myuq
Yl45NS7a6Ghae/SZxInGqaG87l2xccWmZdub3v8WhmBsVp7epi2pmDRrdhgWauWB4/ffAPOv8kxf
1nTgtYLu/vLlZHb8BNXsvBME1aqTFgkQ0zwW+CmIAZ+HAYVoBSDKI8sox1C6WMiqBH9QcZ6zAjIQ
JQtyeuiCDqeQmCpb36LtzOHVcBZzsMtnS1gb+VoJ74T1wlaezWLpVtwjLbUQ1O8nktTx7gR2EAK1
YGayyBYsUwbLgkpbGfmHgzwvFiSxUYlsCYQiSFuIaBeSCmijDKKLQ9q0adaMKU6Qu6tDxGVxlkck
S7F6Ikz/SdsjuVmvJ5axWb3OSLQppmWT5gD0cRkDmYAH7LYnTzcsm+LzzVh+Ra/jyLYJLeuv6e5I
bIDLSvuW5lePr7C2Vkwui8SN6yaMi6hxT+9c6rOi7siqmzztU0qjMybWLr5sbnTz7gL3lu1LV9UU
9C6on9W1xtjWNr7FUZlfPbSobNKcMjSronj1OGdlzxKiZdHUe3QRJ5sw0TKsk+jExTjE6pjNgygv
oooRttFiE8SjJKHKUbTM5ERw2gOx2QlbluTHhek8jRMIcUY1VHbsrI1R5/tbGhcffvSoOFTjjU6Z
2FJmF9kT00POE/e8euOTRXY3n8fbvK64bnzfzrwqnvKax/a8um5jT63WI9GqtOHOOWu6PMYio+SN
q576emiJwqKsmfHwF66Np3a8ryaj2pJiYAl1N+fnPUmlBssAFujFSEnLeJmYIe2dON9pGhM5aHOj
CG8s7vFGo15vLOYlf39Z5nXHo15fHP495vGWkRg/DuCQlmcf+pz37UhkQgnMoyOT3EBhaAsbmhRU
J3jfpmOTwmqipTMIqm6kd5Bz6IEDTE0W6rRYgA1Ar2MLcBoSotiQmbhbvUylRBq1VkOySzktk0F1
ZmaMudX2jKIauRfpCXKqx8QuBFjThQdj7rvN/tJoYWFFOZw1wDzXQYv+cGPmDaqxLlzS2BAuqR96
IlNB+Db7DpH5RGaC4CP+BHL//eCB5OyFvd0TfQr5PGWwozQ2T2bHDjnA0/Kw24+NTY24rjZGR2Ul
IaWCV4UnThjXUC8nEzMLC8S0w44skxHd2IDq60JBkgQrCfw1N0VLUUU8Ng0aNbAup/qfHW8iZ+CZ
EhfnVmq4Is1QpqiYTQHS8T4nlsV1RCw5GRLNVmIwNJI81GEfm0URI2ULvzT7Qs0WbDKJpppNRyPp
dJTkAZUwgwMjco1zlxAofaGwxxUOfwOrLocrmI3MPuaPzPf1kSnrgpp1HqM5/9wvYBxWTKdunz/j
eggTkyb4GdV9zPol6yZpDbO3V9iKrjp97Nii+bU9OlXznGLe46We/BC5h1Lm+Y6h42qP/sDXv9ww
L1xl0swQO+Uqeyyw//wh6tfzFw2dpg4L1ZJo1+KpQ0e4dHVW//K5JSVzbQsr5t+/ftLMedOS3oB8
VnO8k42ptqVEcC14hMR8DUnMk8pMKqlJRZtUMqxTIZMImXRiWr4JqrL9CxOr7Bwq5CRZafeDVHw/
nw1TYnEi3yAUOn2ZVgVXm4VRW51HOxk7JYpK7MMWfUVZjdF21BPVuALRcqdEyBMZcIHTZaup9BV2
shHyboLnAX4piT7ioD5p9QX1OrEYUy4c0xHrQPwiFLYhVQwS5xi+CL/TgdX7iczNlYXTvjHbPNHr
tOSHEghdpdW8ODu/vhHAzk4mG1hRFqs/WOWw+v3JE3M/75Pb+XLrZKNYJgmXrS6snOTT6UscnuqC
PXcNyKw1+UU2W40/n/fwxJPbmP85P10bnjHv13Uud9LZP7FTW+tVh40+rbUk0RTpOQg4/CLS5/DL
C1qTdpXRRIuNtFhJi+3YJOMSFizWITfgKeXDYVVNujQJcpzTyCT4CAbl4pr25yfkvQzU7b/UvFB3
Z2Fv8JWfmyIImpm9/FKCZXkkPgwRH28y4jwgU2KeLA+baRNCFqMB6XVsr5CEjmKL2aCX8iUAI2lO
kGjMoJkxbdnGBKjJBG1kPFYyHkeUC8VIoEZMj0urSbzOlYUixDbhoGnV5PlzlDy6gwr0183Mk0gH
KOmpUyeru3dM83qpuUPXt1yxYYLLRQUIloUv8OE2IvkeAHhXkDt3kqyiL1liNMhkyjAG/kKCTEoM
tBgZaD02YguyILMpgGgx8mqQ3WImY5RBU26EO1wBy3SbMmUJgkFp4Ck1jcbjSLZSY+Q6GmpHgIRj
MWM6OKuErC6yn6D+dsV/Ld+3bu2ChbK4d/rauxfCPRdePQ33WXo7n3gkmBCNK5EVJ4TjQiK6+slD
a351++xZN4rl1+089LGpgzV76eyzi598+mn+zKRi3HRBT7WqtZsMmR23qJ++joy7navpPJTsmT9h
XH1VSUG+USwCPfHZ8bi3MOlz+VRKGS312X0k+ZuMCwK4gC1kKeQSWoxFQqDDNMhTT0MKnxf5C+Uy
JJWokUKFFEIBUiqaQGGBDBbmpNfcfKpGehNcO4idZmO6zqXKNOaMXNeOVWtVYrheMwLi/SR0h2n0
jbL4zT3oNDaPdIG9fLYAQ6TLYXO2HJZzPB27EYHzYDYmjrFS94z4hwDkOZ++puOMBn63bd3zK6nt
bVcezJvinbx0Tn/36qGnrp0gXPfPv2/7x+lHX19+YJ9GXtE5d9PMtYtOf3Zb73+fZb6hQv6gsMbu
KxNUDAbj4TZXtFFUBf/5xFuxyuVtQweozUMH4MCCgw9sjvl3TZ928vHbjUXRznk9E47ffu3qeWWG
4sUzu3YvOnHygeA1R99+EE7hjQvLKuvrK+UVjXsnhBLVNQlFNMF2/Ji9wiP0ETCOzOsisBrcmJy0
eum0CePrK8qLiwXaBQLtiso5WN7ThvMmd2G5S0bjkAEXNjeV0XG8uj9BVxrtqjgqKy9DlRUARfqQ
RIC0M5HKYka+UCFISmF9bkckkVvwTc9htt2aqVCmFX+kkw2Hp25NPTt16V4dNapXR4RuHJkc1qOC
bJ8PqNnwmrMSrivF+WlHNcVNlFFnqITpuXLxs27dl6kR8yJhd5z/0kvH4nOV4yblbV2zbsX4Mvvh
mfd/RwlWLl1+Zt+WcYfnQv27h86Ei462vw750XIMLdcysuLzzMuvMQxzR2Gcd9RZVnFhY3kLnFEl
K28Rd1XCx4NtkarqRHWYUdo9sPiW87CnDK795A9uZfXJ7b4X3/js1g2vxE2RD64uKVxyzdHFD7S/
eN8j0B51E8c9xPy07ckFXvrZC3+PLx+3t7s4EJjz+MuL21Ti9sVL2lRTF3XM/tXt2xafjrVePXRU
gYITFzSwPsJHMHYrQSo/iIIjybaoQsBl3kaA1XKZkBZgiddjoo04WoRpZAxjmxGZZFLazKKvQs6j
aSTgFyBdEDlJks5isJSWAJsUOrMTa8zp2iYykSTXsWU9TGZ6uW4tZ5ycl4k5uVhqpKflUI90ZdnJ
EvAyVubgQqfhuCtOXahuk578qY26wHxq7p207QYveu9aZn4Z88e3HvvMH6P+ZrOvG3rI7bluzf33
lcN3quLMzdku1h2OwttvXbIvyAqw58SBacWB0msm79wwdKPKVlkzt4WE1WAKs5v/PpFVMSgDCbAv
2WSXKWwlolLMl5UFimmAKyvUtCpRzrW6vdhklyrkoBDpE5XEIBDX5C5BoopyJJO6ELLJZcAkHckN
EzlNwWwH+/006o90tWuGs3Iipyp0yR42izyAoxlwDTGOZ5CuC4/tW9N/y7IFhphPF8y7YwPzIHOS
uZ85Nv1gl3fzCdgGC979Yc6Kg0wxyyI4Ne2nn8ayBKrvO/V75nW4E8av+vJMaX0D889Hma+Y+058
uOHIqXnTO1eNEAiIP5/G7KX/TuQnJjmijUdjMZDRFIKA0zgkFAj4FA2BSCjNYf6k1SetNlyHn4xb
wjF/sh562ilq5cAA65Qy7jftf2khyaTEJAsan/SKhCosEYvYupJQAORIS0EkBjxWdyUUn8eRjfgj
+U9O+gMyPiTTN+OTcGG40UrnVmo1A+92UPf+sIHNyQorKzNaBZ9gU7PKQn8Ve1fNRH8+pQ+AXrAS
3JKcnCgPoJLIhJLIIryqCa+KhPEEHp+HkRibNGpMHCTApnw37ukWq1V87mZjERQukSG9H02bjRx1
aPmyJfNRawK1drUDK9Gl1lGBA+sPE7kttLTlZXgSNZmEJpEOJ4ZyUJWMdFUrG1UQNYkMZzR+GM1t
pWUssALG4lkfmAddCTjaHQ5/jmilMdOYZqtgnB7Sw/7QW0VSHfiL63c/vbJ/5kxfwBTf0Xfn1b+8
XeW8Z+DB868+OvXT3885sHVt77rFjz3Xv+syg6KibdaG2esU0w+8f938M0fyCq9bs/+q4KOfD12x
ffeG5nBRg72kGgrLmbcfGH94YOGBybPjHV1blq/fdXD76qsHbrvzagjPPtG38pXem4Nr825dP6/S
GFgxt+uAdPNV1z2St3jxkfnrLk88+vsda5dup+8aH6xOViXEfHGoEqR9ooAmOlwEYqACNIJrklNi
tRjJGivZiK68zEd7K+Ie2o0ppYLoFY4Vs2gawSKAoNtlIIrHo70eI21AjQ0VdLkGFYaQtBpZy+LI
6XA5iYoCUQ7rIhc9s7BwaQDNwkOWfsG/FFJekvJCJoQ/jKCQhYURlOCdIPjZV80888FHXxTH6Rbk
PDB5dw7B5fJzv/AMrnf6nthw7qvQ0I4f/5Dms9SzKDp9YG93UbB40Zo9h0ZTWp7dsWb7ZpWtIrms
iv41R1y5PsNjYa2knZkpLKD3AxHB2UXJkIhAmU7L52OthYQYwIltVrFMZ3M6kN3mdlmR2IhUFCr0
acEsuSabSdYMEweCLK8vHT2PkFXAcLuOCCtAEkuPXZ2O8ujhvnEGObmO2pguMb8Qnnqou72G18v8
8w/Mb5lr79hZOv8KWPjPG55oZ/QPwKo1t93x1wd/txj2nz3b3ji0qefJY/Aq6P8UNrV2lzN/ep75
iTm37EQVvXPwKyrWcd3/e/fZ15IsPrYyD/Nu5L0OSsCEpC8YcJeEMMaaQky0SWJiO5iCEtbNoFDQ
jhQaSqIc3StPZMgjmZ5umhnFFqQVI/QzdvLdbPsxFrFrjAajK92woNQqTU5rl+BbhLrX0j1n9w0z
vnn1HWZo5bJ/nIfgrw6BcGLrq7/a/PqVV7yz8o6vVtaNr1IODMB3rFVv3rrwLw//D5x1/g244Evm
h4c7x699++R85iPmX8wF5q3Nf3zpmjXdAeZpYjjEj85hlgi/I3HlFDAXLAV3J2csqE/ObKyioF5j
NoApU0Gfvw0Y8LJ8HCosMAqwZ+GCItqPp8RjNNBgsw3LihBoQXMq0OQp/kKWOlaQTwzHicRKhBej
yAw0fiKQqWHk4rJr1oKGa49ZV8sqRzpHSAeYIMuVzJIll0WIFIkejPTGvZmqjvBSvXE1y3NyON0j
tse+T0LRUeWciB3ohaPKRiSs5MCRJzAPKKsKe5czH3z+qw+aG2rnFfN8rQX5jl1XPPabQJ29mDfw
MF5JBJz6EzNQUs8TU9Sn5+1LRBBiW+O2XWsXrHj3ONRDKzXkKa6tKwrW1gnugXWOQaNKBhtgDZUc
fNvhXT3/3vs2TihzFaIqM5Y5/NW7D1e3BIs2wP0zbjn0t6MJi9Sjfe8vBhWElGhxd/fmyybvuod5
77eN8MrGYKihviTUMPjl9Tep0MJ7Wb5ZiqFf5yeAhyBjI5iVDFpBdRWWBUtYLohXK8BxixVrPFhW
X1tAFyG92ImUFaUI0Rook0HlKCpuRpszNfKadLctU4BsUhJ7zQqfkyRQs3aaI1Wi0HqdxqAlIo2V
sqL3picoTTJLR/W+Ui81MGPn4Y2HDjx999fMKzD29d1P7z+88fCO7sPPb9ny/OHaObC5gi9JTGuo
rm6YXi2raIaz265ev+bMves2vAZb4RTyaHt14/p7Tq9df3U3M/jDD8zQDOrbOeMECl7jXDi3afxy
5rxwaWdzb2+zStTay2LbigxjJgpqwKZkjclI9Fmn9eJQAltjFjP2GPQyEQ4VYCU0IAtBI1QT83q0
fA2Jt40GGSoqRw4eilhBSHWxdv8cSybLkGGFl2S12MiJh5chC1yaCeMay6MZocPAo97d66+H9V89
9dmsi4gvOziqzC7m46+Ya5mJp+nDafoLfVlzI/Pm1aeYF99N9oYuwXZJ82P29MCXYNk9cPyQOcN4
oYb+TseBnj8BmIAbtCVdGhMAYqJRwIwFBAkEGkQUSaxHNEZKAQTaXFJ3hiAERnigbNpPxOCh+X76
4uIqpx7GXM7cD9vPXLP5yP6Fc+pmGtTlE/eUN3pLwh5XpJSOy7fumPno1gkz+qbX+Irlohn1E2YJ
4YSINz8U9bhK2dnuZPYLrqb3gCSYCK5OtvsxClpgQOh3wBqcBDJJy8RaLG9twVpZFPvyMAl+MbIA
ogqScNioQuPby5EbApSssdJ5DcjIFyJjAMzySYebvBtqWCfHhnHGrNFw5JVgtvRRk06a369JDI3A
WgbQJvlJMKtmwYarFo2IIp0iZ5mEhjRNmfUZcWOadBh2DzsKmC5nD5uUi1fK/P66byAF1y5ZcWbf
1taDcyHvHSp2VFdfv/8+poC5i/kjc/0NSyfX166A/XDOH2D+3iU10wLCoVXlzSQDlrHZcDUdevO4
VCBRCbwr2Cy37eV7H4G6TuYKY+Dax5m/Mb//FPa9eRWUTAwlf9zHPMEcOPHO/P3r5oeZn+Br/eM0
0xaRfFfUvphgUnNqkHeIOB2aWwewIVntcatVEmzyaDVKBYm13S4idKeDJoGazWHXKuTEjSCXU0dr
NWqSsAkRyU6QzWq3AVNOFy8xglHDFpcYRQUfDi68KO01ckIqtltyCao37MoGT/AvA8/lhFjwTjo8
KkhiSsZyhDtYbWtj9oqC9BWgDnSBu5LTO1uaapNKVY1D6Ze5XXbaZgDYUY1ruqz1OIgxlY8r29tw
VFZX66QdOFlDHK447HbYUZ3NSgOPGznNiK9FsppqIpAiPyqrBDnU+BquXJOJTFWZ8mqaNpWOQzOM
qjT+ZKmsYITCwfH1WF58Wu2oNC8+llUx9gXRMDYSYeWVBh7jqBobyJbp4NhqjeDZwuD6G19kWplf
MPKhD7u6q6aMoyBBll/AyzvrI5ZTzJcDT5+8/D1KsGLxqjP7t218DPLfPv6Khdp/+MJdnALKylrF
kyupfHTm9f3Mt/9F8tv993+5qLTntWuZ48z9kMTF22ZZmCib5cF/XXv2N1eVFCw9dWzxAy/+65fQ
2V890MFcm9bBpeNU0xamZ2c3fyF9CBSCBFiajBUI+BAIMK+SGD92hkkCUVCI+TyZGHkMJhQr5NEc
pymAbColsjkBTUmhLZdPlCY9sJFLJktN1Ayl4z4wHLJU2Tj2A8t8GG4xZWQ4qhjGYwsrLsdwsZLr
V3BsszcHBhjYPf7Bp675lBL0zd12EzyysfVgL1S+8Br09hXxYOfg3Iq4am5QXF0tELcnFPSOCzTc
Xtxx87Gbvn73ihL/4r17NeLVZ8e/ct9jUP313ze8huF2+bwa45KJst6GPGt1Tzru3cufzeVUa5Ll
/kKNtsCT73PTLjPAHhumi/xe2oMLzFiqzSd6WUSyJICR0OclYZ8BKQoLgFQ6EgmPrqLk1E8yeghy
ms3F2ciYzUqptKMbqZnYNRdxq+kHUVNJdPeCTczH/2A+YG7v3DKxYOURGIJ8qLrQ3+UtlQ/82Ea9
8Q9KZslL3HT0NuaHO+Ax6Bz45Orqxlpm6AECfrdB1T/2HMvhT7PaUc/s5U0gEmD75wuTYYtZ5NaH
HVhaWIDVMjuykAGb2DUTKFhstyGMvG6kp/lIbzYBa540h2mWSKtGppmZ7d6m3cAImTyiTzcrfxb4
oQuqR5sVi+2UIYPsq84c2NJ6aC6xGoLszPgZcCMjJHYzjS1jkt858H3qWP+D7S9x8D14hHkZ7qYL
meuHi5IsSGdqkHcQP1kL2sBAsqONpkpsjsICB02iY2ywpBPptjo2kfZgHGvBIo3NbCuHNQScoUGP
EpVcWs1x7RuRtCAf+QtjATaPll4SsnO6BMNsTyKzTKd3BK0yixnapT+TTbtGzGoYo9gnXFaQJk6x
FFA9V/MYSbF5DS+fYZaNYz76kq1J0oWGgnhjvGpi95zZA5UzGtrblu3Y160Vi/HaedceWJEo8w1e
wxYsH3m3ksuq+/eztUnPlUv71o4TTWopn7dj0tApqm31tnndQ/uoXf1n+kt1ukDD5V2HygTWXXP7
Dm9lC5h9zVz9qZn3KX0MTAPzwPXJzp4GQWtJSFBosoWqtBh5aHGnaTqe34Dnz8Y2iRhLPWzkLpPa
jHEsmFtbUtFe3FRbiKSSCkTsDzmRvhiV1qJJU4BGBSddguKSCUeGQxIuw8ptxxC3WfM+GOkwcso5
fxJRznSViVU+PWuBI2Ukg95V6s2mW3GOFRvNuI2RBCwdx3lHhXecU+HnhHa8T4/cWDFZM2PBzmnI
zbOsf+XBE7OW7V7WHZtdWT5p3pGQqXTqkmmFsSp3cXFsdf8Pf33o7a6I3bpwztKZazatvwuWQSE0
w5rB64qrqov81VXwoSc/wrZYVX8ILb9sy+z42h11weYab2VzZcU2mX7H8YUrZ5mCO0PBziN33f/5
wReXru7XF42fv+v09MVXv3QXOZee+evfJlZVTJpUUTWRjVyYvYLH6KdJJtVJsuRbk1N6ujpbEzIe
HbL16m29AEM1hqWY34ttJlwMpmGfTKVkI8jOJgHNN7Zjsdupr6fixC4oxOeVIJ1aRYKZENLryNwV
1ggu4czTRjFiGonhChObg2VWpQyBMXRnds76iCf3pNuNIzYSJVPju4TX8UbT61iM2V4YNdwwo7IT
5I5fwhs9C2edGfpthNny248+K4zTB48con51euuvMp7p4L61D3/50Gff8JrWb1obaz3nNGl+sWvT
hd85vI9vfBgW+IeKRnkqQStrTROvZzslNcpXXp59+dnnruMclkG65uY3fnoCSn/76LRHzvzt+oVH
64IdZtT33ZX3Mqkn2brV6jJqxhgvxmfXW4mX0EdAL1gGNoFD4CQ4n1xw8ti+7dsWze3yo9njWpNV
ZRuArArIyjTWJRrrlW2r5mPBoc04f/cubBIEZEpcARw4Om1qC92MTx5up9uMPXR9i17cjFpaW1Db
OA2yrkW0DLHhWXg5EkfBBCnsGs1kH91B42yvZmSBYiLbRkuo3ocXrQsd1REl03p1FzHFMUvfLl4M
9zMNttjwarpRXTbHcJctDZ0wp7WW22bjj43q6HTfze6Oxfl/njDnslXrVk0tM6+uLJtTNLFv65p1
qyZcqgF34JbA5ltabzR697TeM1SaNEF8LSNZ/C6zjcSGrzA6b6VgKaqLP7k2XjPEzzbfKENJa6Qm
UZGMDbpzunPlNie86Xsogu3PjKOFDa8ufuHNz2/Z8JuQxq+2N7zc/+Ibn9+y8c3Qxd05Z1fcZPcM
pcDWx9dgVummzo3vW+m3OFY/vPqDT3TMsuHG3MKeJ+7Y2n+2pOV6Y07jbug2uamgp7AlnttDmA/W
gduTU+zj28ZPXNDX2Lx0QZFdK/Ti9dPxejtbIzM3N+E+3roFeGIdBgocTpRhkVDc0oyaGguQoQbx
pCg6Ga1etaIf9WDkGo96ZgNgDkthzxj2wdg2QqZ/kNs7UF2qdMb5zvU9bB8ht+jP8kNzk+4aOBq6
6Us3Fv5tWwGObiS4eKf2HS9JdwOW7N90+cIXdt7xi3O7rjymV83QK6fOnji9Z83KK2fsPd37+NWv
/IrrLWyesm3d4ieeuXRvYfCLbEehtJg+sPZ4BdsbmHuw56eO/st3bD2w3JrQ8dx+X8Pc8XMaFjR+
Ndv81LoHT0F46+Oth1/pvfnpSzUYmO+H+wrBBNtXINmb8AqSHyRAEkwiiP9wcmZ7g0oln2kCRoiq
9IZk0gBxXw0G2qkTsXcOFgMbGwoFZVMxXV2VIBGS2aSndbKCIqxHWiMyJJB5JpKXI0wyOJ1WgLpc
ThSJAaNBOlw6SmcSOUsRs4XjDGSk175w0P8+O8cck/a84rxikP17Ppe32RchHiA+iv3AzhbJbmmX
1jE2/eCIccNYoWE/64hEhZ6LMN/DTmsNzH6f/2W52rL285dPFF+5SW/STfIyb910/c2D3/ROue/x
gbezjmBD65G5UPXw35n2alr26NKfFoxOUc6dnhvwNQuE8/ckt3UcFTx47oGB+MFVgf6EMI6YILMX
bmt/9szNf3z7OOcNRErhqtsn/Pf9j0Id8/XTCz/M/3PkuVHY3739oPpRVYm+e89SYp8dqe+EN9MP
g3YwC6xLVtRrNQGFthKDWR3YKsURYMR+MHUKdss0agWZFp4QlcUdaMakCSi/Go1DFpTfJAAymD/K
NXMZ9nDsyjKYMh45oRq17HZ2PolUWakmYDxd2CeS1l8qfx5B6Xg6/8mDl/DGF2fWs8ddsR2KQ73j
um64beDUq1msZZMBwVs3PeoUikxL52zb4tw/ff7q5vhjLpPm3O7bf2rIQVFF4OlnZG5z885txw/I
+TwGUNSR+94dhsyX7iUZ9JYpZnPl1JX37pv30Pq/7NtxqKS4nfjf7y9/i/kefpyDjNwa3XTPJAZa
wIpkvDS/TqsR6XWgDucDnB/AFQpsFmE79kurSpHfoNfQaiL2EtRYhfw85M6n7ErovriSasx4T5Bd
ZJjtp2Ra761uLoO6RN9EfXGnhUuw2XiW85daK4xn9FvI6rveQK3c+Mbx3I7KmM7Lt9A4taltsqgq
6L32aUExNllpfgiZMMWbvoR596IWCzN5TD/m8ztnrp7fNWu11BFgvg6U8flht1xRWEbzwx6BQES8
SupBuJiaTu8i+WcRmJMsVgKHWCRSIqAkuaYDA+DDeosYi/IwKkQaNzLJEN+aRwGRboTQnRjmqqXj
Rrb2mF2wq8qKrRjz/dpsUB5Nu/rcaMLFtpiNOUH6N8WmXbefOb/pdHVYLZ0/r2mVVHn2RRRFbp/D
6cm30RslO7bsuqF12bymTok1kpdY199k93nmwfnVbndVeaG3Il17WSV6gGDrMrCd9ZmbVi3r65kx
qb21pcBlN6nFVTVLiyK41NKKqy/DUzvxgnV4tmwZwC3NNXS1rLgI5+H6CsxTgFBVvKoflEZIDJ2s
QSTkB6i5aQHwqmHf6O7FcLM9HX5lXnIc4myVJssiHkVBS0ddO/oIlGayyJw8UpBOJBXZ3QdG2h2O
tAJeKhv9jyo/lwi1zy7b0bvULBKRNHTNvOsOxMsrK1tfPnfBsm6JuTAQLd1yFb/l3tOxhnhl58xZ
vScrZzS2DX3+b+pEQw+OguAOqrT/TENQr0tnqs2z8gTWvbPn/mqP0ir3mfNizZUTWu6/bd6acaKJ
rRV9OyeOJLj/x8pST2qQ30TvAAhMTvrTDFLEMUizxFGOxzSKPcobWWE03H3P8keH1/uQWcL/C3WU
UplWdc3vU9AscXRx7SzMEkclAyeru3dNyfJGN43P8kYHd7GsFWYvxxo1Ag/YnEwYdUCLPBQ0maAV
y7UevU7IE2CjgV3hIuQbyQCQQQ8RELDLpBBSOZCEzyODlg63QIYJpMPdgRFSXc0ob84+MnveQOKv
Od7oSHtEyS6y0w5rEtEVI/XZyVuGVpyGB5oO3Lft2HmHt+Zb5juBTLVsY+f6hXsLWS/K9nd8zx1+
4r/OXp88PPnyDrgUt7vnHTh1cuFNM/msXbYCIHyevg4UEPSenwwJ+DqdsbAQG/k8LFBjVwjn6aQY
iHm0TiS0+5DCgiLFOmR3AXYZmHBsDJMF6Mw2LFxdNCdAibNr3v9z4mYuVRO+cW2X4Msf9277xzWP
vrrs4H6NorKzdyPLx/zi1jmv3cZ8wxyMlrY7ok2CmpdNxcNMy77yNNOy/+SJ+4PXHH3nPvibicFE
dbKSZVfSoC31D4GD5Ivs7hKd4FSyPYKRzRoyJtzGRMIdMrpDMVyYwEZtZw0WtjRjOcA6bvcJtklU
LJGgthBylyOf3YaseQ11SE2UQK0DhfKRtRzZSnFiJMBL41GaU5kIpvFo9BqkkfrxBHW6TPgz9MkM
Q/aihFD777I4KnaJDK3yxs2w/uhAbec2x0gqt3aYC1mREz7QiYvSqwJnB2tCRlNuEsY0DGdV5tyI
AYI6ZhUvzrH4VibL3NhmRbRFacA+l5OVrV2lxMXA6TAL8ug8mc3tstBm4gS1qNCah+w2hx2I1SOF
k0Rutzpb60qAYHYnmgyrkWWZyNjQbBRuV8LcwGEM05Hngi8Ng+2F2x7Z2VbdLh34sYN2MI+beyft
uJv58rnncuDyl9ft2FgdG0VnvOOWN1/n9u0Z5L1KxmsCLlAComBvslHFc6pIiqgtcbtoMy6NCGh+
NMyjaQz9WC7LD9AUL4DEGJF5RBAYnGKex81S9KKlJAunINDKoCFHBOnywieqT0qyROw0cbFmKLcn
lvZ3LL3TwPbEhslHaQjNZnTGkUZZJL0WNWOpbBcNCmg788Ttd1+77lTFhF1h14pZZ+/ZfSbdNRuw
qbRzglMu3zx96M8/UgauL3Z4w7IdJZ6wtYptlSUy7bOdDfONqHD26oWdOcxEADhmohBUJC08GgOO
l8gfISUKR21HZhy9H9nwZmRp5OcIiWk+IoF1cnZ2TRaf4z3WJ20kCeeIiIIRDqJQAC4mIY66hDHD
fZCMIiBSpUQhqHvfyjYSWEz5TtBEMIVFlB6wL1kvcSZm6BMzZuidCb2zC+MZOMHiSRHBExyWaTDw
4PIgapuKzEpEO5Ge4EhsArIV5KMYKAdCGYyNIWirRjJFkMPLrrnEPkvkfmfGMosTMtObLfr8xxxt
+O+Y2Lxj5384cYXBZG1ob/n1Zf8JE3uQuSTbmj707Xvvvh5Ra31S59vH7n7+P6BbN1ySWc2ym2YR
fPmazHaAIHsVuytKObbLqiIEZXBJqIj2h4OFdAH26bSYRxM5S5BKiFRGBGJIFQoin9elKgHIX4iJ
S69KhOmSfB+Qq4eJbaPsLTFicJm8PThqD6waNlCpZvltBE8uHTVekhE4lgT4NfPla8z/rF1iKQiV
xrZcBQceunX3tL2ZHjVnknedHRwm/3381msEmLwWa7SlYkLL+St2rhndrX4Yvjya9EeBVQDw3qSP
AyUwg/FJFwUNWKTK2CEJgqRSFQQ8swrxeSLymVxTTK/9+IT8K+FcGmuP6QY8Gbpl2CpHeC3DRSX9
qgHYuPXG028/+NsF1H0/XLtg/GSOkdLTcvPvPnz2zdqOBz94/GF2zxUWHXhryYzygT+pJrAAMnsV
8mhAQVnOjhPDHCUBla2H89Ze+PJUB7dmhmW+pZYJzmV8fgvYnqyrC1uM4ZI8nQuXi0JBBS3H9XUE
HSLYUoOBDhfQCAYRtKOEGhWVhAgSIdCEJDHkLQBCCIzD2zgkhjeZGNlACqSLdMHhtla2ZM/mrxLi
jn6epDYmJrKDDPWef2mq2gMDD1tWMh9czEUTuZU5ZDQ7DW+55sK3wdq6QPEoPtpJuHfarYdHE854
vP6eYcaZyqmlkg+yhDOWeDZMOmM5NmRutvLDxLeFQXvSrS/yYwfCYbdFgXlBZFUj4EMmiRiJhDxI
ktoc1UnU5FBr05E9N39sfzS92ZY7EgZmSHIpdocWjlEWGc078+SuqvK6Oh+AvB2/g/qOuqfuef2z
/nMHpu86uuHQscfu/Ib5PZVf0SzqqpRVN0yvoW7/Crp2Mw8xrw5NoA5eCUWPM3e++xPzfc81G9bd
cG79ptdg+Vv8vibVpLmClRNa+1j7IJkBax9iUAl2JeuCASzJxwalAqtVcg82CHC0JARwcZFEFgo6
85FKaUNmJzLTqKwMBIr9UomYBihcQtAnCgxSWDySrmawJG0/md2U0iTxLHmsJrsYh1OcRDHR7GET
UuuHW3QCV45s0koSCUCW7jLK/qgv7vvhhr7xk/vnrtk5YU/NjF1r7wjnW32T1nSs2l/T0MJ4iFHe
sG3gvfs/Jfb3y0fH1w2NN/hrFrR5fP2LnOPUpnwVqogelcaaTZyxzli8+8uPnnmTWCmjAQBs5E8C
etaHA6xXYoEeIFqDaC6/E0CpRJaTGWUmP7sHEsvuH0UKG86hdQbj4JZN1x95+HD94ivmrpleT8f1
W5ateOj1BweL6MdXnp7X0jFZlvby/DBBCRfYk2xGWKvCao1aLsdWoYDtX/MsZh2txRRA0GxScQ1r
ZFHTKqTVkPBLghwknTMaTEaWAW7Qk2hrJMYyJnJ44BdxwEcW0CQyK9HdJMDycLgXdYyipI5ZTEPf
/+2pwSXQP3fakvFV7TKWujDIfGKZM2nLDWUdbPDSsWPBlmlV0Ueoaemg8gNnwYkdPftAhlnF8uA1
wAAcYGEyyuflYanDSMaCCSTQtEHLdiOJXCiH3UDrSSRFRmZBCp0WadRkrqSyUZyNnMGNJVNl1p2z
XA2OKeXI9VjGMa6KZj6FAuanjG/qyPok9u6/7hjth8bwzju4fOwK4CYx8uZkFU0RnWGhPurBegV2
BooxCyIkSCYBsAmVCAXEG0klSFSYj2wQILFIo2aZOkg2TNQZJkmpcpIwMLIqMZjeQyaQJYvFWL5O
ZuGh499VbS+Kiugz1IGjA8yXJ589eeSD0UXZ468M/Ton6KH+OMBlSyxx6cxtHxwfVXftZ24fXV1t
S/3EsZa8oAz0JUMeHgmFeZiKY7UEWwPY6PFithiBHDoU9rKEpUKEFHKErGDMrheZvjIHtSP9o1yy
UjniyEoXF6z+Q6LS0NKR+tOWW/Zs/19oSoO7ckpJx/bsuOvfFJKIbTM7uQheCqYkvRKxkN2Nhi+k
MMEUYqlYRGxZytZh2OAeQOmmbHWCXdE+JpAf4aFmZl0mJK4YRuFIVM8UwFousG9knm+D0RyeENFR
Xje5Dwvwg+6k36A3m/wIC90uLLcYDQRldBLks5iRyWi3pgsCeh3IKQiM5gdl0YMN4Idvp+jnkv60
Xl6kepT9hm9yNY5jew5wfKDhnD30Zo6ePQq1nYNv0qEcHhCXl6tI3Dyd3gOawdpkuVulQRYNrQYC
LLQ0A1wWN8hxQQOqNleaieWFghJUpGaxk0YRC5ugF9hArRo2XJLvM5RTjM2MfYTlQ4bc0kBm4Odr
qK7/Sy2W2nr/6VhTvKqzZ87sgfLupva2ZTt7l5iEbCV1Xd/1B+JllRXjXnowBXovM/m4aHrD/bfN
X81SeSr60lSetVv6etJUnpESadMcLLDu7u375R6xm4TWtlI2tE73g8fzPqUHwEQwC5xItk+pFvjr
J7nF0sI4La7Gs80mrJmOW2USMZZJJ+F6URx32rCmBAskPZX+UqIpTSjpRlJJKcvp0ftQoBK1dwKN
BrZfahvGdAUpk9pzncFMSTvbLhm1Kefs9p9n8sQjmbbv/28OT/lUdYbDY97wyrkzGsF4kbI3y9/x
R4f5Ow+/1VVqsy6cs6xnzaZ1d4/l7yTgY099iK2xyiUh84rLjq+ShMWikLRjEcfe2XnVwpU9w+yd
/zn48tKVSzj2zjXTll79MsveMTJ//m5iZcXkyRWJCRxu/oN/B/008STNYF4yRBehJjVqasKIhPQg
hOVV2FVcZLWjWqLDReXIG0ESkxF5BQK5Swa9YyqbqjStI0tlZPt+uTl2i5dIObthENu1YyX1n/Bu
vJfA0f+Rpnkzdx2/97afJdeUDWpHoylfkiHIvMF88/InP8+k6buKGRxTo+exshLFSU7UCrrBQrAG
PJect2hqZwd7i35lYBUdWNUcWFUZWFVAK+fTyiWzsXg+LtCuwgFt9zhs7pqEbRrsLYuXAl4Eh0tA
M71cUBmrjjUIsIxGyngMRUt7kMygRy4BmusFtWKbDLrGpE3DSJGt4WUbN7mFUk7P4aV3fszhQq11
pVcv/99YMj9XTP23BZBRxZCr/zMiTOWN62H90ZP1rdttIySawZWXrIuMEGHo0v+d4+J2cZGFQZ9L
jWFOX7JQMsJ0AVTqLgrA54lXY3csmpD06YUCQIt0eh0JtwyYODWs0CGRDUnNSC3gk1gaKCwjWykb
EyO7K9YMDW+ZnI4ZSR5HR8LGGAs+o/qMLIikS4sBOO3FqrBx2qaoWtw3t3GlVHkWFrrsPI+TmIOL
3iGRzMsrsVesW1zrLnZQtT5neU2hO8bu5UufhW3cjv1NyTyeQqZEGgW3Rb8SGzQISRAywFGb8196
c5t05z7vf9uK/2c32//5PfUBTFlSDPyRq2uWJU0kbuWCcJzuGEGSr/Au/p8sZKuNgUxVk87Eo7+n
Pn17gPmA3tHJTjIZfz19J6zkTwaI3VeOlqksUpWFUllkWK9CFhGyUHCWXgEto5aqjBk9N3RsYXvC
P785896f24L5Zzda1gBlqlaxDg6SXIxksqCdoMoRcDm4E7wHfoRW6IdNcBLcDPfB4/BuAEiGT+xI
74pGWI8fJc/0kWjmWfYIdAnTDol7pY1orRT3jPYJ+fHhGrVTGB3ZJ8TIvs06NXYcmTw5cwn+z58N
uqRw1N0gmLkVD/kpDVDDSw3jVTC9KJvcL4sRORxZG7vZYPpOjOxx9pM+8iBhS+bcUSE/OvIFI/kA
t3cme0ifQwjR+6I5ixu1+hxugy97KrXQx15tRAja4fe4M1F52QFldsdMv85dwufLcelGvcs3ck2i
FtmbpITHdeYt+TrL1vzjWvJLb97qg/byEM3XGrVb8lbINwslGtMqf5/eAKuEzhpbw8xFrS1Ba7Oj
c9PGibpEu0Wv4EvMyuIbFiqsqkPkRNTG8hCPr8TarVb221KVaVUR++3PpA9Ds2Wpy2KufRDKbX0O
yiKT8XXt3u71OzsLG/NUXsU1ASj1zossvOLMYle5Y2qbWK216uVyhUxG0TKs8YpNqsV2M9yi8moL
KsaVmE0SpddTJJPp8i1hF19lGSfP07pLStzavAPmKmv1tPakozRfbSLfEY+TaPRljmh7Z1n1Rw6r
pF2s0DgNWpeJVpmXOGitDztV5u8eiDQ1hyNNTZHiZE2gOJkUCknGLbEgZLbJ+MoC7PLaLbCS+atW
KpfDK3VSmWxNF/ubWcm9g1+QW6VaKUWevsNs1+fZyJOiGTPOSU158xvGLY43+fVoWeek1RLsEArF
wvKqhFGROdGNL6hNcqUy81VDnjX9VeYBuJ352K4jr7ZaDTJmP6zQOGUy5x0mf5FtV2/X5SajQYtl
MplcLtSLPcVHFi46qlK/OkOkN2u1tADt4inVCmkeTdv05818ufw76xdKqbysIFQjE6mxxl7rPVyp
00UKLMcNIrlntUpV7HJXKKHEZrBMqapvzXPep5fIZPABq2i6sO02ZGuPlk1hfieHD7mEM0Sq99Qa
jbtYy35X/qDBGozk3Uae/rkpEmlsKI00fZUMFNUmiwMkw9WKJHZsJmmtqyDP7iUQSSng+wK94L9B
A7iaIMij4FmCGJBt67C/YPrP2H+Zg9lPsp/LfXHxxwHMPQhzzjNyBZjzxZ/9GXXiMVdPn5I7I+R/
lVqcejV1Rep86qPUn1NfpZ5LfZ76beo3qU0g81/q5dRL3BPy8dQ3qS9S/yCPH7h3JECcep17NpUk
outJkGtKXUh9mfpT6m/kTF9xRzrIIw9EwOPk005gIM+NxL2LycMKdGAjMJMklr3KH8hVVOTBPv9z
6i+pZ1IPpv6a+iz169TfUx+mfp+Kknt6PfUad04N+ZwC+EA+e1epT1LnUofJ3X+Q+oA7WkgeVaAa
3Ee+93Tqx9TX5Ax/J6P6M/n+m2Ay+a4dyMn3EUnjq0EPwKlPgQ2EgZp83wiKgDb1DLkrP3Eee4GS
3J2UXKkOrACFzH+R+3qfjGxd6hVy7udT35Kz/8hdU8k9ismY+sHvU0xqkPx8n/p/ZAQLUv2pIfKJ
MhAn8vkNOfKvVIrcyxep1an7ue/OAFZqHxn1C6m7Ur/jPgvINSWpP3HP5gIaEP9LHjEQIr+VRHJ8
oAUy8nBwknAANfc/Y+kEQWAid87+V0zOWkBkHQbjyTjbwWzySVHKlqpI/ZB6j8jiY3L9j8hc/Sv1
L07iL6WOkuu/kDqW+gf57jTy3RC5cpAcEgK21TKdXCNMpPQueJLI4OnUW0QKr5CZ/po830Uk8SV3
lu/IvP+NHPuC6MxHqY+4O2kmI2ePXUgNkcf3qZ9SDAiQN0Tk/nncgz36LNG778jjNaJ735K/r5O/
X5Jnr5DZfTuricBN7ixCzI/VIn7q2YwOSlL/JPL8kcj6KzKezIykPiFyExCdVZA5Faae4u7u89Rn
3LG3iARFJD2zAnPqMfL6p9SL3Ln+P5klm/wAAHjaXdVXkts4EABQiAiNjkgkxQl2+Xh7/xNsU+ud
GhtVkj6awmMHkCGEHkL4BweEnGOstUL0nwdsW0lfawupbnErhRAgJ4BaMNdQC0HJUCoDYolUCkIu
Hi+l1FweHoOUcwHa/N8jh0ALQikxYsXbwUf9y8m4pQ0KE9ScasVCGQMWBlcApRKVyFCoFnf8q2Ap
jzuWSgHg21klBN7r7SREqilGetS4Qf5atxPTVkHYiexXARcKBFKr70WKzBClAmPxDD1pIICHZ+1p
FagS3dndkROD55iIGP3+6YFevO9OoZejgrdDXOXlKCJg5YYiNRmCeL6QyavPUP16Qi9dRb2dE0LQ
6z+HWcgd3sid8rViKByzV9WUyPchqQocuJo7VKWTak0Nq74c9jb7Z/MYZaiVLMYUL3fsnUKtKYsI
5ZRkY2/SdwfEHcJunkphVjSQINiIKqMMNsPUCc3rWosn7S3DzWNUvJnUbue9htA++eWoKrujm6R4
V/n3ckdfzmgsvo8YtqpBsTMjk05pDfNgbD4RHidCRXJHuHgzuSd3Pt3pPyUg5mxq4v2w26HvTrXk
A0Wzi3oXtFGvFoyGeDZku/ROeQp13x7Bi0tGtDGq+MSTjOR3+RNDGL8keC2LWZOSc9vUm/SH09wR
WuN21DoPbKHR9Dort0PH4LyEhvoggTFTI94ETb1FrPN2flEI89SX01pXd/pm7tSvlQK6k4T3qUZg
NnhiD52XKpn00+bksitPIx+5Jsxe0c1jWolFV0o5PdxZTwvMpfQ+zPs+tpaT/OH0BEnlWNaotjZl
0QhDdjM2Gc+2lpTTZHn/qHYfp8HiTrPqI2x79ruMHMJ+tduBMWaD346fjf+XOyNDMjn31rn2vnR/
OUczaTqvvu9aniZ7Z+U6VGWKRuPeqng3j9vJ7hzvLYgUmHPdzoz9L4dm9gOiz8Md7GPXg2eYerYm
3dZ7Pw4tV9PD+yc4TNUrGpuM7ifY+nk7fhDC+dHdAVhz7973FYcPHX0td9bt2HX24fvMw05eYenV
uw5bH+M8Dd66nkNMcJq5Y+7MjupT87wddOf5OYIq1H3towLscZbvTvYHYK6529tzTN9nnvaUPez2
Ntxp++d8Pg3eh11Tm+JqzXZrsescpNbGmz+5E2kI148RzNzZj+nOEVfJ7Q/n8DfBaB/XXEprPdsl
Rzja+xg2+/FjXVeDj9HefE6U9t7a4c7QNcmsz3d3slgI/wI6U0EqAHjaY2BkYGAA4s4s6b54fpuv
DAzs74AiDCsK8uJh9J89/6z5SthOA7nMDEwgUQBJogxGAAB42mNgZGBgO/3PmoGBb9+fPW9shI8x
AEVQQCoApGUG93jaJZA/LENRGMXPe733vpa0pI2FQUyVkIiIGMSimpfntSlppJpXaZhM8hIL0pBY
DGxdTAYTOjAYRQRDJd1YNCZhQCINEQZV53GTX3Lv9+ee832yjBx4xOo/eh4v+i7S6gy2KsE0gojL
G1iMxZhLk35VQwpf3yeqE6b2hGHtAK74wIhvESFyQQaITcJkiHi5HjJPBrVtrECvR3yXyKoKJrVr
FPRbrHtxuQZT3MPxX8ExXmHKCqJqAFNiHBnfGBwVhaly9OUiIT5hGc/IizbE6WkBsv6uHpASVZj+
AmxZJiVYooiYrCMqe9lnwAwcsr6P9zvY1Eh6/+hu4ygA1h/DYb/j74ClErDFMkZlhJ6cP/2s2mRN
F2ZkkDNXkTFA/XOkZBNcrfknLDeQFbP0OI2kfOQOMnwXqbGHVtnNeWqw/UuwtbfGvrbDfU402rUt
xEKnaPH2r+b00C9PJVxMAAAAADIAMgAyADIAigEYAdsCswNUA/QEfQSvBOQFngYEByIHPwdgB7IH
+whLCJsJAwlOCbYKHQpbCukLVAuMC64MDgz1DUMNtA4UDnEO7Q/UEMYRXBH8EjESfBNeFA8UjBUA
FesWfRcXF3QYNRirGXoaCBqJGwgbvBySHWsenh+KIG4hJiHJIjgjNSOMJAQkgyU/JbcmSSZ4Jq0n
bygJKFgofSkmKZkqKyprKuIrSyvVLFksnS0LLaYucS8HMAgwYzC1MOMxMTNXM1c1SgABAAAAZQGr
ABIAAAAAAAIACABAAAoAAABpAMsAAQABeNpVyUEORUAQhOF/mHgk2Fg5wDuBA0gcwQ1mgUyChcT9
FTMLOunOV9VAzozhHkP23HsSfkrBqVRFW7lRY2yhpqSNTqj5R6fqu2gr94Pb/O7HaTlXd4QQLgOO
Dc+uHZlYOFnVHZ/Pyxc56xVweNp9z9c2AgAAANArmRWyRbIyKzszpMjOqOyoc/z/L3jw7v7BFfC/
Hy0CWgW1adehU5duIWERPXr1ieo3YNCQYSNGjYkZNyFuUsKUaTNmzUmat2DRkmUrUtIyVq1Zt2HT
lm1ZO3bt2XfgUM6RYyfyThUUnTlXcuHSlWs3bt0pu/fg0ZOKqppnL169effhU92Xbw3Nv8ovoSsT
WwAAeNpz4JORkZbm4WFgYGTk5nZl7N3B+L+1zDXDRWIzE6Mbg/ZmZjDJwgAiWXlAJBuYzQ4W5wCz
OcHiXGCSlxtE8oHF+cFsATApCCaFwKQwWFYErF4UTIqBxcXBbAkwKQlWIwUiga5BRgDlLCZN) format('woff'), url('Bamini.ttf')  format('truetype'), url('Bamini.svg#Bamini') format('svg');
  font-weight: normal;
  font-style: normal;
}


