#branah-keyboard {
    line-height: 20px;
    font-size: 1em
}

#branah-keyboard button {
    float: left;
    display: block;
    margin: 1px;
    height: 3em;
    text-align: center;
    color: gray
}

#branah-keyboard .branah-label-natural {
    color: #e0115f
}

#branah-keyboard .branah-label-shift {
    color: #057cb5
}

#branah-keyboard .branah-label-natural,
#branah-keyboard .branah-label-shift {
    margin-top: -5px;
    line-height: 20px;
    text-align: center;
    cursor: default
}

#branah-keyboard .branah-label-reference {
    color: gray;
    font-size: .9em;
    line-height: 12px;
    text-align: left;
    cursor: default
}

#branah-k29 .branah-label-reference,
#branah-k32 .branah-label-reference {
    color: #000
}

#branah-keyboard .branah-recessed span {
    color: #3C0
}

#branah-keyboard .branah-recessed-hover span {
    color: #ffd800
}

#branah-keyboard .branah-clear {
    clear: both
}

@media only screen and (max-width:640px) {
    #page {
        margin: 0 2px
    }
    #header {
        margin-bottom: 1em
    }
    #logo {
        display: inline-block;
        width: 100%;
        height: 46px;
        line-height: 46px;
        background-repeat: repeat-x;
        background-image: url(/images/branahmobile.jpg)
    }
    a.soft_button {
        padding: 0 2px 0 0;
        margin-left: 0
    }
    ul.list {
        list-style: none
    }
    ul.list li {
        line-height: 2em;
        margin: 0
    }
    textarea {
        width: 85%
    }
    #share {
        width: 100%;
        margin: 2em auto 1em auto;
        text-align: center
    }
    #action {
        line-height: 2.25em
    }
    #archived {
        font-size: .85em;
        margin: .5em 0 1em 0
    }
    #branah-keyboard button {
        width: 88px
    }
    #branah-keyboard .branah-key {
        width: 43px
    }
    .gsc-search-box,
    .gsc-control-cse {
        display: none
    }
}

@media only screen and (min-width:641px) and (max-width:840px) {
    p {
        text-align: justify
    }
    textarea {
        width: 610px
    }
    #page {
        width: 630px;
        margin: 0 auto
    }
    #header {
        margin-bottom: 1em
    }
    #logo {
        display: inline-block;
        width: 630px;
        height: 108px;
        line-height: 108px;
        background-image: url(/images/branahtab.jpg)
    }
    ul.list {
        list-style: none;
        display: inline-block;
        width: 150px
    }
    ul.list li {
        line-height: 2em;
        margin: 0
    }
    #editor {
        width: 600px
    }
    #keyboard {
        width: 630px
    }
    #selectAll,
    #saveAsTextFile,
    #postToFacebook,
    #shrink,
    #enlarge {
        margin-right: 2px;
        padding: 0 5px;
        vertical-align: middle;
        line-height: 18px
    }
}

@media only screen and (min-width:841px) {
    p {
        text-align: justify
    }
    textarea {
        width: 610px
    }
    #page {
        width: 840px;
        margin: 0 auto
    }
    #header {
        margin-bottom: 1em
    }
    #logo {
        display: inline-block;
        width: 840px;
        height: 144px;
        line-height: 144px;
        background-image: url(/images/branah.jpg)
    }
    div.side_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        _margin-left: -210px
    }
    div.main_content {
        position: relative;
        padding-left: 210px
    }
    ul.list {
        list-style: none;
        display: inline-block;
        width: 160px
    }
    #editor {
        width: 607px;
        height: 96px
    }
}

@media only screen and (min-width:641px) {
    #branah-keyboard {
        width: 630px
    }
    #branah-keyboard button {
        line-height: 2.75em
    }
    #branah-keyboard .branah-key {
        width: 40px
    }
    #branah-backspace {
        width: 78px
    }
    #branah-tab {
        width: 62px
    }
    #branah-k25 {
        width: 56px
    }
    #branah-caps-lock {
        width: 76px
    }
    #branah-enter {
        width: 84px
    }
    #branah-left-shift {
        width: 46px
    }
    #branah-right-shift {
        width: 114px
    }
    #branah-space {
        width: 246px;
        text-align: center
    }
    #branah-right-ctrl,
    #branah-right-alt,
    #branah-escape {
        width: 62px
    }
    #branah-left-ctrl,
    #branah-left-alt,
    #branah {
        width: 60px
    }
}
#tamil_container_id{
    visibility: hidden;
    position: fixed;
    width: 900px;
    pointer-events: none;
    background: #fff;
    padding: 50px 30px;
    font-size: 18px;
}