<div >
    <div class="login-wrapper">
      <div class="login-container">
        <!-- <span class='center'>
          <i class="user-login fa fa-user"></i>
          <i class="user-key fa fa-key"></i>
          
        </span> -->
        <h1>Reset Password</h1>
        
        <div class='login-body'>
          <form name='resetPwdForm' class="loginform">
            <input autocomplete="off" type="password" required name='oldPassword' ng-model='resetForm.oldPassword' placeholder="Old Password">
            <input autocomplete="off" type="password" required name='newPassword' ng-model='resetForm.newPassword' placeholder="New Password">
            <input autocomplete="off" type="password" required name='confirmPassword' ng-pattern='resetForm.newPassword' ng-model='resetForm.confirmPassword' placeholder="Confirm Password">
            <a class='form-submit' ng-disabled='{{resetPwdForm.$invalid}}' href='javascript:void(0);' ng-keydown="resetKeydown($event)" ng-click='reset()'>Reset</a>

            <pre>{{resetPwdForm.confirmPassword.$error.pattern}}</pre>
          </form>

        </div>
      </div>
      
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>