<div class='view-container'>
    <div class="row">
        <div class="col-sm-3">
          <div class="notify">
          <h3>Today</h3>
          <div class="value-ct row">
          <div class="col-sm-12">
          <span class="no-of-re">10</span>
          <div class="chart"><img src="/img/chart.png"></div>
          </div>
          <div class="col-sm-12">
          <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
          </div>
          </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="notify">
          <h3>Week</h3>
          <div class="value-ct row">
          <div class="col-sm-12">
          <span class="no-of-re">10</span>
          <div class="chart"><img src="/img/chart.png"></div>
          </div>
          <div class="col-sm-12">
          <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
          </div>
          </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="notify">
          <h3>Month</h3>
          <div class="value-ct row">
          <div class="col-sm-12">
          <span class="no-of-re">10</span>
          <div class="chart"><img src="/img/chart.png"></div>
          </div>
          <div class="col-sm-12">
          <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
          </div>
          </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="notify">
          <h3>Today</h3>
          <div class="value-ct row">
          <div class="col-sm-12">
          <span class="no-of-re">10</span>
          <div class="chart"><img src="/img/chart.png"></div>
          </div>
          <div class="col-sm-12">
          <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
          </div>
          </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class='printArea'>
            <div class='printArea-header'>
                <h4 class='col-xs-8'>Total Pages</h4>
                <i class='fa fa-print pull-right print'></i>
            </div>
            <div class='printArea-body'>
                <p ng-if='!showFiles' class='center'>No Preview Available</p>
                {{active}}
                <div ng-if='showFiles' uib-carousel active="active" interval="'none'" no-wrap="false">
                    <div uib-slide ng-repeat="slide in previewData track by $index" index='slide.index'>
                        <img width='700' ng-src="{{slide.url}}" style="margin:auto;">
                        <canvas id="canvas_container" width=700 height=900 ng-if="$index === previewData.length-1"></canvas>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div ng-if='showAction' class='center'>
                <button class='btn btn-default' ng-click='process("approve")'>Approve</button>
                <button class='btn' ng-click='process("decline")'>Decline</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="expiryModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{info.title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class='form-group' name='expiryForm' ng-if='info.state == "expiry"'>
            <div class='row'>     
                <label class="lab-tx col-sm-4">Date :</label>
                <div class="col-sm-4">
                    <input type="date" id='expiryDate' data-date-format="YYYY-MMMM-DD" autocomplete="off" required name='date' ng-model='expiry.date' class="form-control">
                </div>
            </div>
            <div class='form-control'>
                <button type="button" class="btn btn-default pull-right" ng-disabled='expiryForm.$invalid' ng-click='setExpiry()'>Submit</button>
            </div>
        </form>
    </div>
</script>
