<div class='view-container file-read'>
    
    <div class="row">
        <div class='printArea'>
            <div class='printArea-header'>
                <h4 class='col-xs-8'>கோப்பு எண்:{{registryInfo.file_no}}</h4>
                <i class='fa fa-print pull-right print'></i>
            </div>
            <div class="text-center otp_section">
                
                <p class="text-center">Enter this OTP <b>{{orderCopy.otp}}</b> and sign in mobile</p>
                <label style="vertical-align: 10px;" ng-style="{'text-decoration' : (showordercopy ? 'line-through' : '')}">File</label>
                <label class="switch">
                  <input ng-disabled="!registryInfo.order_copy" ng-model="showordercopy" type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
                <label style="vertical-align: 10px;" ng-style="{'text-decoration' : (!showordercopy ? 'line-through' : '')}">Order Copy</label>
            </div>
            <div ng-show="!showordercopy" class='printArea-body'>
                <p ng-if='!showFiles' class='center'>No Preview Available</p>
                <div ng-if='showFiles' uib-carousel active="previewData.length-1" interval="'none'" no-wrap="true">
                    <div uib-slide ng-repeat="slide in previewData track by $index" index='slide.index'>
                        <img ng-if="!(!isOC && $index === previewData.length-1)" width='700' ng-src="{{slide.url}}" style="margin:auto;">
                        <div ng-if="!isOC && $index === previewData.length-1" id="canvas_container_f"  ng-if="$index === previewData.length-1">
                            <img width='700' ng-src="{{slide.url}}" style="margin:auto;">
                            <img class="draggablee"  ng-src="{{orderCopy.sign? orderCopy.sign : orderCopy.placeholder}}">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="showordercopy">
                <div id="canvas_container_oc" class="text-center">
                    <img ng-src="{{'../uploads/'+registryInfo.order_copy}}">
                    <img class="draggablee" ng-src="{{orderCopy.sign ? orderCopy.sign : orderCopy.placeholder}}">
                </div>
            </div>
            <br>
            <br>
            
            <div ng-if='showAction && orderCopy.sign' class='center'>
                <button class='btn btn-default' ng-click='process("approve")'>Approve</button>
                <button class='btn' ng-click='process("decline")'>Decline</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="expiryModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{info.title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class='form-group' name='expiryForm' ng-if='info.state == "expiry"'>
            <div class='row'>     
                <label class="lab-tx col-sm-4">Date :</label>
                <div class="col-sm-4">
                    <input type="date" id='expiryDate' data-date-format="YYYY-MMMM-DD" autocomplete="off" required name='date' ng-model='expiry.date' class="form-control">
                </div>
            </div>
            <div class=''>
                <button type="button" class="btn btn-default pull-right" ng-disabled='expiryForm.$invalid' ng-click='setExpiry()'>Submit</button>
            </div>
        </form>
    </div>
</script>
