<div >
    <div class="login-wrapper">
      <div class="login-container">
        <!-- <span class='center'>
          <i class="user-login fa fa-user"></i>
          <i class="user-key fa fa-key"></i>
          
        </span> -->
        <h1>உள்நுழை படிவம்</h1>
        
        <div class='login-body'>
          <form ng-if='moduleTitle == "Login Form"' name='loginForm' class="loginform">
            <input autocomplete="off" type="text" required name='username' ng-model='loginInfo.username' placeholder="Username">
            <input autocomplete="off" type="password" required name='password' ng-model='loginInfo.password' placeholder="Password">
            <a class='form-submit' ng-disabled='{{loginForm.$invalid}}' href='javascript:void(0);' ng-keydown="loginKeydown($event)" ng-click='login()'>Login</a>
          </form>
          <form ng-if='moduleTitle == "Register New User"' name='registerForm' class="registerform">
            <input autocomplete="off" type="email" required name='Email' ng-model='registerInfo.email' placeholder="Email-id">
            <input autocomplete="off" type="text" required name='username' ng-model='registerInfo.username' placeholder="Username">
            <input autocomplete="off" type="password" required name='password' ng-model='registerInfo.password' placeholder="Password">
            <a class='form-submit' ng-disabled='{{registerForm.$invalid}}' href='javascript:void(0);' ng-keydown="registerKeydown($event)" ng-click='register()'>Register</a>
          </form>
          <form ng-if='moduleTitle == "Forgot Password"' name='fpForm' class="fpform">
            <input autocomplete="off" type="email" required name='Email' ng-model='registerInfo.email' placeholder="Email-id">
            <a class='form-submit' ng-disabled='{{fpForm.$invalid}}' href='javascript:void(0);' ng-keydown="fpKeydown($event)" ng-click='forgot_password()'>Submit</a>
          </form>
          <div class='login-opt'>
            <a ng-if='moduleTitle == "Login Form" || moduleTitle == "Forgot Password"' href='javascript:void(0);' class='pull-left reg' ng-click='toggleRegister()'>
            <a ng-if='moduleTitle == "Register New User" || moduleTitle == "Forgot Password"' href='javascript:void(0);' class='fp' ng-click='toggleLogin()'><i class='fa fa-sign-in'></i> Login</span>
            <a ng-if='moduleTitle == "Login Form" || moduleTitle == "Register New User"' href='javascript:void(0);' class='pull-right fp' ng-click='toggleForgotPwd()'>
              <i class='fa fa-key'></i>  Forgot Password
            </a>
            <span class='clear-fix'></span>
          </div>
        </div>
      </div>
      
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>