<div class='view-container'>
    <h3 class='col-xs-12'>Registry room</h3>
    <div class='row'>
        <label class="lab-tx col-xs-2">Start Date :</label>
        <div class="col-xs-2">
            <input type="date" data-date-format="DD MMMM YYYY" autocomplete="off" required name='startdate' ng-model='startDate' class="form-control">
        </div>
        <label class="lab-tx col-xs-2">End Date :</label>
        <div class="col-xs-2">
            <input type="date" data-date-format="DD MMMM YYYY" autocomplete="off" required name='enddate' ng-model='endDate' class="form-control">
        </div>
        <button class='btn btn-primary' ng-click='getRecords()'> Filter </button>
    </div>
    <uib-tabset class='tab-view' active="activeJustified" justified="true">
        <uib-tab ng-repeat='s in recordRoomDataKeys track by $index' index="$index" heading="Section {{s}}">
            <div class='table-responsive'>
                <!-- <table datatable="" dt-instance="dtInstance" dt-options="dtOptions" dt-columns="dtColumns" dt-column-defs='dtColDef' class="row-border hover row-clickable"></table> -->
                <div class=''>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%">#</th>
                                <th width="15%">File Date</th>
                                <th width="20%">File No</th>
                                <th width="25%">Note sheet</th>
                                <th width="20%">Status</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if='!noData' ng-repeat='row in recordRoomData[s] track by row.id'>
                                <td>{{$index+1}}</td>
                                <td>{{row.created_on}}</td>
                                <td>{{row.file_no}}</td>
                                <td>{{row.file_details[1].notes}}</td>
                                <td>{{statusDetail[row.approved][row.status]}}</td>
                                <td><a href='javascript:void(0)' ng-click="viewRow(row)">View</a></td>
                            </tr>
                            <tr ng-if='noData' colspan='5'>
                                <td>no records to display</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>