<div class='view-container'>
    <div class='view-header'>
        <h3 class='col-xs-9'>User Listing</h3>
        <!-- <div class="alert alert-default input-group search-box">
                <span class="input-group-btn">
                    <input type="text" class="form-control" placeholder="Search Employee Details" ng-model="search_query">
                </span>
            </div> -->
        <button class='mar-top-15 pull-right btn btn-primary' ng-click="addUser()">Add User</button>
    </div>

    <!-- <div has-Permission=userInfo>
            i am admin
  
          </div>
          <div>
              i am user
              <span has-Permission=userInfo > i am span admin</span>
              <span > i am span user</span>
              <ui>
                <li ng-if="userInfo.userrole != 'admin'"  > i am user li</li>
                <li ng-if="userInfo.userrole == 'attender'"  > i am attender user li</li>
                <li ng-if="userInfo.userrole != 'attender'"  > i am hidden attender user li</li>
                <li  has-Permission=userInfo> i am admin li</li>
              </ui>
            </div> -->
    <div class='view-body'>

        <div class="tab-content">
            <!-- <h1 class="text-center">User List</h1>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <div class="alert alert-default navbar-brand search-box">
                    <button class="btn btn-primary" ui-sref="addUser">Add User
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="alert alert-default input-group search-box">
                    <span class="input-group-btn">
                        <input type="text" class="form-control" placeholder="Search Employee Details" ng-model="search_query">
                    </span>
                </div>
            </div>
        </nav> -->
            <div class="tab-pane fade in active">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in userList  | filter:q as results track by data.id | filter:search_query">
                            <td>{{data.username}}</td>
                            <td>{{data.firstname}}</td>
                            <td>{{data.lastname}}</td>
                            <td>{{data.email}}</td>
                            <td>{{data.userrole}}</td>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" ng-model="data.status" ng-true-value="'1'" ng-false-value="'0'" ng-click="updateStatus(data.id,data.status)">
                                    <span class="slider"></span>
                                </label>
                                <br>
                                <br>
                                <td>
                                    <button class="btn btn-warning" ng-click="editUser(data)" title="Edit">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" ng-click="openDeleteModal(data.id, $index)" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="loadUser">
    <div class="modal-header">
        <h3 class="col-xs-8 modal-title" id="modal-title">{{info.title}}</h3>
        <span class='pull-right close-btn'><i class='fa fa-times' ng-click="cancel()"></i></span>
    </div>
    <div class="modal-body" id="modal-body">
        <div ng-include="'app/user/create_user.html'"></div>
    </div>
    <div class="modal-footer">
     </div>
</script>
<script type="text/ng-template" id="deleteUser">
    <div class="modal-header">
        <h3 class="col-xs-8 modal-title" id="modal-title">Delete User</h3>
        <span class='pull-right close-btn'><i class='fa fa-times' ng-click="cancelDelete()"></i></span>
    </div>
    <div class="modal-body" id="modal-body">
        <p> <h4>Are you sure, you need to delete this User?</h4></p>
    </div>
    <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="confirmDelete()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancelDelete()">Cancel</button>
     </div>
</script>