<div class='view-container'>
  <div class="row">
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Week</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Month</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
  </div>

  <!-- <div class='row' style='margin:10px; padding: 10px;' ng-if='userInfo.userrole == "pr"'>
    <div id="home">
      <table class="table">
          <thead>
            <tr>
              <th>File No</th>
              <th>Date</th>
              <th>Description</th>
              <th class="text-center">File Document</th>
              <th class="text-center">Create Note Sheet</th>
            </tr>
          </thead>
      </table>
    </div>
  </div> -->
  <div style='padding: 10px;' ng-if='userInfo.userrole == "pr"' class="row">
    <div class="col-sm-12">
      <div class="file-upload">
          <uib-tabset active="activeJustified" justified="true">
              <uib-tab index="0" heading="New Records">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File No</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th class="text-center">File Document</th>
                            <th class="text-center">Create Note Sheet</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='list in fileList.new'>
                        <td>{{list.file_no}}</td>
                        <td>{{ list.created_on}}</td>
                        <td>{{list.title}}</td>
                        <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                        <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                      </tr>
                      <tr ng-if='fileList.new.length < 1'>
                        <td colspan='5' style='text-align: center;'>No Records to display...</td>
                      </tr>
                        <!-- <tr>
                            <td>10003</td>
                            <td>16/08/2018</td>
                            <td>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</td>
                            <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                        </tr>
                        <tr>
                            <td>10002</td>
                            <td>16/08/2018</td>
                            <td>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</td>
                            <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                        </tr>
                        <tr>
                            <td>10001</td>
                            <td>16/08/2018</td>
                            <td>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</td>
                            <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                        </tr> -->
                    </tbody>
                </table>
              </uib-tab>
              <uib-tab index="1" heading="Approved Records">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>File No</th>
                              <th>Date</th>
                              <th>Description</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Upload Order Copy</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat='list in fileList.approved'>
                            <td>{{list.file_no}}</td>
                            <td>{{ list.created_on}}</td>
                            <td>{{list.title}}</td>
                            <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                          </tr>
                          <tr ng-if='fileList.approved.length < 1'>
                            <td colspan='6' style='text-align: center;'>No Records to display...</td>
                          </tr>
                      </tbody>
                  </table>
              </uib-tab>
              <uib-tab index="2" heading="Pending Records">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>File No</th>
                              <th>Date</th>
                              <th>Description</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Upload Order Copy</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat='list in fileList.pending'>
                            <td>{{list.file_no}}</td>
                            <td>{{ list.created_on}}</td>
                            <td>{{list.title}}</td>
                            <td class="text-center d-icon"><a href=""><img src="/img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="" data-toggle="modal" data-target="#crate-note"><img src="/img/create.png"></a></td>
                          </tr>
                          <tr ng-if='fileList.pending.length < 1'>
                            <td colspan='6' style='text-align: center;'>No Records to display...</td>
                          </tr>
                      </tbody>
                  </table>
              </uib-tab>
          </uib-tabset>
          <hr/>
      </div>
    </div>
  </div>

  <div ng-if='userInfo.userrole == "attender"' class="row">
      <div class="col-sm-12">
          <div class="file-upload">
              <h3>New Record Insert</h3>
              <div class="col-sm-8">
                  <form name='fileUploadForm' enctype="multipart/form-data">
                      <div class="row">
                          <label class="lab-tx col-sm-4">New File id :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='fileId' ng-model='fileUpload.file_no' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Date :</label>
                          <div class="col-sm-6">
                          <input type="date" data-date-format="DD MMMM YYYY" autocomplete="off" required name='date' ng-model='fileUpload.created_by' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Description :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='desc' ng-model='fileUpload.title' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">upload Scan copy:</label>
                          <div class="col-sm-6">
                          <input type="file" name="fileUpload.files" multiple="true" accept="image/*" id='files' required class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Section :</label>
                          <div class="col-sm-6">
                          <select class="form-control" required ng-model="fileUpload.section" ng-options="section for section in sectionList">
                          </select>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-10 text-right">
                          <button class="btn btn-success" ng-disabled='fileUploadForm.$invalid' ng-click='Upload(fileUploadForm)'>Submit</button>
                      </div>
                  </form>    
              </div>
              
          </div>
          <div class="col-sm-3">
              <div ng-if='!showCarousel' id='myCarousel'>
                  <i style='font-size: 220px;' class='fa fa-image'></i>
              </div>
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <div uib-slide ng-repeat="slide in previewData track by slide.index" index="slide.index">
                      <img width='300' ng-src="{{slide.src}}" style="margin:auto;">
                      <div class="carousel-caption">
                          <p>{{slide.name}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>