<div class='view-container'>
  <div class="row">
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Week</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Month</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
  </div>

  <div style='padding: 10px;' ng-if='userInfo.userrole == "csr" || userInfo.userrole == "dr"' class="row">
    <div class="col-sm-12">
        <div class="file-upload">
            <div class='table-container' ng-repeat='s in sections'>
                <div class='table-header'>
                    <h4>Section ({{s}})</h4>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id No</th>
                                <th>File Date</th>
                                <th>Note Sheet</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='row in csrFileList[s] track by row.id'>
                                <td>{{row.file_no}}</td>
                                <td>{{row.created_on}}</td>
                                <td>{{row.file_details[0].notes}}</td>
                                <td>{{row.status}}</td>
                                <td><a href='javascript:void(0)' ng-click="viewRow(row)">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
  <div style='padding: 10px;' ng-if='userInfo.userrole == "pr"' class="row">
    <div class="col-sm-12">
      <div class="file-upload">
          <uib-tabset class='tab-view' active="activeJustified" justified="true">
              <uib-tab index="0" heading="New Records">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>File No</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th class="text-center">File Document</th>
                                <th class="text-center">Create Note Sheet</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat='list in fileList.new'>
                            <td>{{list.file_no}}</td>
                            <td>{{ list.created_on}}</td>
                            <td>{{list.title}}</td>
                            <td class="text-center d-icon"><a href="javascript:void(0)" ><img src="img/file-doc.png"></a></td>
                            <td class="text-center d-icon"><a href="javascript:void(0)" ng-click='addNotes(list)'><img src="img/create.png"></a></td>
                        </tr>
                        <tr ng-if='fileList.new.length < 1'>
                            <td colspan='5' style='text-align: center;'>No Records to display...</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              </uib-tab>
              <uib-tab index="1" heading="Approved Records">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>File No</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Upload Order Copy</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='list in fileList.approved'>
                                <td>{{list.file_no}}</td>
                                <td>{{ list.created_on}}</td>
                                <td>{{list.title}}</td>
                                <td>{{list.status}}</td>
                                <td class="text-center d-icon"><i class='fa fa-upload upload-order' ng-click='uploadOrder(list)'></i></td>
                                <td><a href='javascript:void(0)' ng-click="viewRow(list)">View</a></td>
                            </tr>
                            <tr ng-if='fileList.approved.length < 1'>
                                <td colspan='6' style='text-align: center;'>No Records to display...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </uib-tab>
              <uib-tab index="2" heading="Pending Records">
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>File No</th>
                              <th>Date</th>
                              <th>Description</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Write Note Sheet</th>
                              <th class="text-center">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat='list in fileList.pending'>
                            <td>{{list.file_no}}</td>
                            <td>{{ list.created_on}}</td>
                            <td>{{list.title}}</td>
                            <td>{{list.status}}</td>
                            <td class="text-center d-icon"><a href="javascript:void(0)" ng-click='addNotes(list)'><img src="/img/create.png"></a></td>
                            <td><a href='javascript:void(0)' ng-click="viewRow(list)">View</a></td>
                          </tr>
                          <tr ng-if='fileList.pending.length < 1'>
                            <td colspan='6' style='text-align: center;'>No Records to display...</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
              </uib-tab>
          </uib-tabset>
          <hr/>
      </div>
    </div>
  </div>

  <div ng-if='userInfo.userrole == "attender"' class="row">
      <div class="col-sm-12">
          <div class="file-upload">
              <h3>New Record Insert</h3>
              <div class="col-sm-8">
                  <form name='fileUploadForm' enctype="multipart/form-data">
                      <div class="row">
                          <label class="lab-tx col-sm-4">New File id :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='fileId' ng-model='fileUpload.file_no' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Date :</label>
                          <div class="col-sm-6">
                          <input type="date" data-date-format="DD MMMM YYYY" autocomplete="off" required name='date' ng-model='fileUpload.created_by' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Description :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='desc' ng-model='fileUpload.title' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">upload Scan copy:</label>
                          <div class="col-sm-6">
                          <input type="file" name="fileUpload.files" multiple="true" accept="image/*" id='files' required class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Section :</label>
                          <div class="col-sm-6">
                          <select class="form-control" required ng-model="fileUpload.section" ng-options="section.id as section.name for section in sectionList">
                          </select>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-10 text-right">
                          <button class="btn btn-success" ng-disabled='fileUploadForm.$invalid' ng-click='Upload(fileUploadForm)'>Submit</button>
                      </div>
                  </form>    
              </div>
              
          </div>
          <div class="col-sm-3">
              <div ng-if='!showCarousel' id='myCarousel'>
                  <i style='font-size: 220px;' class='fa fa-image'></i>
              </div>
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <div uib-slide ng-repeat="slide in previewData track by $index" index="slide.index">
                      <img width='300' ng-src="{{slide.src}}" style="margin:auto;">
                      <div class="carousel-caption">
                          <p>{{slide.name}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <p>hi canvas</p>
      <div class="wrapper" style='border: 1px solid black;'>
        <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
      </div> -->
        <!-- <button id="save-png">Save as PNG</button>
        <button id="save-jpeg">Save as JPEG</button>
        <button id="save-svg">Save as SVG</button>

        <button id="clear">Clear</button> -->
  </div>

</div>

<script type="text/ng-template" id="notesModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{info.title}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form class='form-group' name='notesAddForm' ng-if='info.state == "addNote"'>
            <h4>New Sheet</h4>
            <div class="col-sm-3 col-xs-12">
                <label class="radio-btn">New
                <input type="radio" ng-model='notesInfo.type' value='New' name="type">
                <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-sm-3 col-xs-12">
                <label class="radio-btn">Clipping
                <input type="radio" ng-model='notesInfo.type' value='Clipping' name="type">
                <span class="checkmark"></span>
                </label>
            </div>
            <div class="col-sm-3 col-xs-12" ng-if='notesInfo.type == "Clipping"'>
                <input type="text" autocomplete="off" placeholder='File No' ng-model='notesInfo.fileNo' name='fileNo' class="form-control" required>
            </div>
            <br>
            <div id="tamil_container_id">{{notesInfo.notes}}</div>
            <textarea id='editor' class='notesTextarea' ng-model='notesInfo.notes' required></textarea>
            <div id='keyboard'></div>
            <div class='form-control'>
                <button type="button" class="btn btn-default pull-right" ng-disabled='notesAddForm.$invalid' ng-click='addNotes()'>Submit</button>
            </div>
        </form>

        <form class='form-group upload-order-form' name='uploadOrderForm' ng-if='info.state == "uploadOrderCopy"'>
            <div class='row'>
                <div class='col-sm-8'>
                    <label class="lab-tx col-sm-4">upload Scan copy:</label>
                    <div class="col-sm-6">
                        <input type="file" name="uploadorder.files" multiple="true" accept="image/*" id='files' required class="form-control">
                    </div>
                </div>
                <div class='col-sm-4'>
                    <div ng-if='!showCarousel' id='myCarousel'>
                        <i style='font-size: 220px;' class='fa fa-image'></i>
                    </div>
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in previewData track by $index" index="slide.index">
                            <img width='300' ng-src="{{slide.src}}" style="margin:auto;">
                            <div class="carousel-caption">
                                <p>{{slide.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='clearfix'></div>
            </div>
            <br>
            <div class='form-control'>
                <button type="button" class="btn btn-default pull-right" ng-disabled='!showCarousel' ng-click='uploadOrder()'>Submit</button>
            </div>
            <div class='clearfix'></div>
        </form>
       
    </div>
    
    <!-- <div class='modal-footer'>
    </div> -->
</script>