<div class='view-container'>
  <div class="row">
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Week</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Month</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="notify">
        <h3>Today</h3>
        <div class="value-ct row">
        <div class="col-sm-12">
        <span class="no-of-re">10</span>
        <div class="chart"><img src="/img/chart.png"></div>
        </div>
        <div class="col-sm-12">
        <ul><li><span class="ne-fl"></span> New File</li><li><span class="in-prs"></span> In Process</li><li><span class="cplt"></span> Complited</li></ul>
        </div>
        </div>
        </div>
      </div>
  </div>

  <div class='row' style='margin:10px; padding: 10px;' ng-if='userInfo.userrole == "pr"'>
    <div id="home">
      <table class="table">
          <thead>
            <tr>
              <th>File No</th>
              <th>Date</th>
              <th>Description</th>
              <th class="text-center">File Document</th>
              <th class="text-center">Create Note Sheet</th>
            </tr>
          </thead>
      </table>
    </div>
  </div>

  <div ng-if='userInfo.userrole == "attender"' class="row">
      <div class="col-sm-12">
          <div class="file-upload">
              <h3>New Record Insert</h3>
              <div class="col-sm-8">
                  <form name='fileUploadForm' enctype="multipart/form-data">
                      <div class="row">
                          <label class="lab-tx col-sm-4">New File id :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='fileId' ng-model='fileUpload.file_no' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Date :</label>
                          <div class="col-sm-6">
                          <input type="date" data-date-format="DD MMMM YYYY" autocomplete="off" required name='date' ng-model='fileUpload.created_by' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Description :</label>
                          <div class="col-sm-6">
                          <input type="text" autocomplete="off" required name='desc' ng-model='fileUpload.title' class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">upload Scan copy:</label>
                          <div class="col-sm-6">
                          <input type="file" name="fileUpload.files" multiple="true" accept="image/*" id='files' required class="form-control">
                          </div>
                      </div>
                      
                      <div class="row">
                          <label class="lab-tx col-sm-4">Section :</label>
                          <div class="col-sm-6">
                          <select class="form-control" required ng-model="fileUpload.section" ng-options="section for section in sectionList">
                          </select>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="col-sm-10 text-right">
                          <button class="btn btn-success" ng-disabled='fileUploadForm.$invalid' ng-click='Upload(fileUploadForm)'>Submit</button>
                      </div>
                  </form>    
              </div>
              
          </div>
          <div class="col-sm-3">
              <div ng-if='!showCarousel' id='myCarousel'>
                  <i style='font-size: 220px;' class='fa fa-image'></i>
              </div>
              <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                  <div uib-slide ng-repeat="slide in previewData track by slide.index" index="slide.index">
                      <img width='300' ng-src="{{slide.src}}" style="margin:auto;">
                      <div class="carousel-caption">
                          <p>{{slide.name}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>